/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./header.css');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.hide {
  visibility: hidden;
  height: 0;
  clip: rect(0,0,0,0);
  font-size: 0;
}

.loader-wrapper {
  min-width: 100%;
  display: flex;
}

.loader {
  margin: 50px auto;
  width: 48px;
  height: 48px;
  border: 5px solid #000;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  }

  @keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
  }

.cat-info {
  margin-top: 20px;
  display: flex;
  gap: 20px;
}

.cat-info img {
  max-width: 300px;
  height: auto;
}

.title {
  font-size: 1.5em;
  font-weight: 700;
  margin-bottom: 10px;
}

.description {
  font-size: 1em;
  font-weight: 400;
  margin-bottom: 20px;
}
